@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.not-found {
  text-align: center;

  @include horizontal-padding($mobile-padding);
  padding-top: 60px;
  padding-bottom: 60px;
}

.not-found__title {
  font-size: 72px;
  margin: 0;
  color: $green;
}

.not-found__description {
  @include arial();
  color: $darkgrey;
  margin-top: 10px;
  margin-bottom: 30px;
}

.not-found__link {
  display: inline-block;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .not-found__title {
    font-size: 100px;
  }
}
