<footer class="footer">
  <div class="footer__wrap">
    <a class="logo" routerLink="/">
      <span class="logo__title logo__title--footer"><strong>Cat </strong>energy</span>
    </a>
    <ul class="social">
      <li class="social__item">
        <a href="#" class="social__link social__link--vk" aria-label="Мы во ВКонтакте" (click)="$event.preventDefault()">
          <svg width="22" height="13" class="social__fill">
            <use href="assets/img/sprite.svg#icon-vk"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link social__link--in" aria-label="Мы в Instagram" (click)="$event.preventDefault()">
          <svg width="16" height="17" class="social__fill">
            <use href="assets/img/sprite.svg#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link social__link--fb" aria-label="Мы в Facebook" (click)="$event.preventDefault()">
          <svg width="10" height="19" class="social__fill">
            <use href="assets/img/sprite.svg#icon-fb"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
