<section class="banner">
  <div class="banner__wrap">
    <h1 class="banner__title">Функциональное питание для котов</h1>
    <h2 class="banner__subtitle">Занялся собой? Займись котом!</h2>
    <div class="banner__image">
      <picture>
        <source type="image/webp" media="(min-width: 1300px)" srcset="assets/img/index-can-desktop@1x.webp 1x, assets/img/index-can-desktop@2x.webp 2x">
        <source media="(min-width: 1300px)" srcset="assets/img/index-can-desktop@1x.png 1x, assets/img/index-can-desktop@1x.png 2x">
        <source type="image/webp" media="(min-width: 768px)" srcset="assets/img/index-can-tablet@1x.webp 1x, assets/img/index-can-tablet@2x.webp 2x">
        <source media="(min-width: 768px)" srcset="assets/img/index-can-tablet@1x.jpg 1x, assets/img/index-can-tablet@2x.jpg 2x">
        <source type="image/webp" srcset="assets/img/index-can-mobile@1x.webp 1x, assets/img/index-can-mobile@2x.webp 2x">
        <img class="banner__pic" src="assets/img/index-can-mobile@1x.png" srcset="assets/img/index-can-mobile@2x.png 2x" alt="Изображение одного из наших продуктов">
      </picture>
    </div>
    <a routerLink="/form" class="button banner__btn-selection">Подобрать программу</a>
  </div>
</section>
