<section class="example">
  <div class="example__wrap">
    <div class="example__info">
      <h2 class="title title--example">Живой пример</h2>
      <p class="example__description">
        Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
      </p>
      <div class="example__total">
        <p class="example__weight">
          <span class="example__weight-value">5 кг</span>
          <span class="example__weight-label">Снижение веса</span>
        </p>
        <p class="example__period">
          <span class="example__period-value">60 дней</span>
          <span class="example__period-label">Затрачено времени</span>
        </p>
        <p class="example__costs">Затраты на питание: <span>15 000 руб.</span></p>
      </div>
    </div>
    <app-comparison-slider></app-comparison-slider>
  </div>
</section>
