<section class="instructions">
  <h2 class="title">Как это работает</h2>
  <ul class="instructions__list">
    <li class="instructions__item instructions__item--leaf">
      <p>Функциональное питание содержит только полезные питательные вещества.</p>
    </li>
    <li class="instructions__item instructions__item--powder">
      <p>Выпускается в виде порошка, который нужно залить кипятком и готово.</p>
    </li>
    <li class="instructions__item instructions__item--dining">
      <p>Замените один-два приёма обычной еды на наше функциональное питание.</p>
    </li>
    <li class="instructions__item instructions__item--clock">
      <p>Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца! </p>
    </li>
  </ul>
</section>
